.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff0079;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #e6006f;
}

.login-footer {
  margin-top: 10px;
  text-align: center;
}

.login-footer p {
  margin-bottom: 5px;
}

.login-footer a {
  color: #ff0079;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
}

.password-input-container {
  position: relative;
}

.password-input {
  padding-right: 40px; /* Adjust padding to make room for the eye button */
}

.toggle-password-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: #ccc;
}

.toggle-password-btn:hover {
  color: #555;
}